## Load Data

In [ ]:
!wget https://raw.githubusercontent.com/AgencyPMG/ProgrammingChallenges/master/sql-assessment/marketing_data.csv

--2022-12-14 02:30:46--  https://raw.githubusercontent.com/AgencyPMG/ProgrammingChallenges/master/sql-assessment/marketing_data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 655 [text/plain]
Saving to: ‘marketing_data.csv.3’

marketing_data.csv. 100%[===================>]     655  --.-KB/s    in 0s

2022-12-14 02:30:46 (28.4 MB/s) - ‘marketing_data.csv.3’ saved [655/655]

In [ ]:
!wget https://raw.githubusercontent.com/AgencyPMG/ProgrammingChallenges/master/sql-assessment/store_revenue.csv

--2022-12-14 02:30:48--  https://raw.githubusercontent.com/AgencyPMG/ProgrammingChallenges/master/sql-assessment/store_revenue.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1372 (1.3K) [text/plain]
Saving to: ‘store_revenue.csv.3’

store_revenue.csv.3 100%[===================>]   1.34K  --.-KB/s    in 0s

2022-12-14 02:30:48 (56.6 MB/s) - ‘store_revenue.csv.3’ saved [1372/1372]

## Import CSV into SQLite

Prior to working with the data in SQL, we will need to import it into the database. We achieve this by reading the data first into Python using `pandas` and, then, using the `.to_sql()` export handler to write the data as a table into the database.

In [ ]:
import pandas as pd 

df1 = pd.read_csv("marketing_data.csv")
df2 = pd.read_csv("store_revenue.csv")

In [ ]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///assessment.db', echo=False)

# Create the X table in the sqlite database
df1.to_sql('marketing_data', index = False, if_exists = 'replace', con=engine)

# Create the Y table in the sqlite database
df2.to_sql('store_revenue', index = False, if_exists = 'replace', con=engine)

In [ ]:
%load_ext sql
%sql sqlite:///assessment.db

'Connected: @assessment.db'

## Question 0
(Already done for you as an example) Select the first 2 rows from the marketing data​

In [ ]:
%%sql

select * from marketing_data limit 2;

 * sqlite:///assessment.db
Done.

[('2016-01-01', 'TX', 2532, 45), ('2016-01-01', 'CA', 3425, 63)]

## Question 1

Generate a query to get the sum of the clicks of the marketing data​

In [ ]:
%%sql

select sum(clicks) AS sum_click
from marketing_data

 * sqlite:///assessment.db
Done.

[(1792,)]